<header>
        <nav id="navbar"
             class="z-50 fixed top-0 left-0 w-full text-white p-4 transition-transform duration-300 ease-in-out transform ">

            <div class="z-9999 container bg-blue-600 mx-auto flex justify-between mx-auto px-[50px] py-4 rounded-[60px] w-[500px] hover:bg-blue-700 duration-300 hover:scale-[1.005]">
                <a href="#home" class="hover:bg-blue-600 duration-300 rounded-[20px] flex py-2 px-4 hover:shadow-inner">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 576 592">
                        <path fill="white"
                              d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                    </svg>
                </a>
                <!-- Bouton pour faire défiler vers la section "À propos de moi" -->
                <a href="#apropos"
                   class="text-xl font-bold hover:bg-blue-600 px-4 py-2 duration-300 rounded-[20px] hover:shadow-inner">À
                    propos</a>
                <!-- Bouton pour faire défiler vers la section "Mes projets" -->
                <a href="#projets"
                   class="text-xl font-bold hover:bg-blue-600 px-4 py-2 duration-300 rounded-[20px] hover:shadow-inner">Projets</a>
                <!-- Bouton pour faire défiler vers la section "Contactez-moi" -->
                <a href="#contact"
                   class="text-xl font-bold hover:bg-blue-600 px-4 py-2 duration-300 rounded-[20px] hover:shadow-inner">Contact</a>
            </div>
        </nav>
    </header>


<script>
    // Fonction pour faire défiler vers le haut lorsque le bouton est cliqué
function scrollToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}


let prevScrollpos = window.pageYOffset;

window.onscroll = function() {
  let currentScrollPos = window.pageYOffset;
  const navbar = document.getElementById("navbar");

  if (prevScrollpos > currentScrollPos) {
    // Scroll vers le haut, afficher la barre de navigation avec une animation
    navbar.style.transform = "translateY(0)";
  } else {
    // Scroll vers le bas, masquer la barre de navigation avec une animation
    navbar.style.transform = `translateY(-${navbar.offsetHeight}px)`;
  }
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("scrollToTopBtn").classList.add("show");
  } else {
    document.getElementById("scrollToTopBtn").classList.remove("show");
  }

  prevScrollpos = currentScrollPos;
};


</script>

<style>
    /* Met le css correspondant au header ici */
</style>