<!-- Section de présentation -->
<section
  id="home"
  class="select-none z-2 py-40 px-8 mx-auto flex py-[30vh] relative"
>
  <div
    class="z-0 opacity-10 overflow-hidden bg-[url('https://cdn.discordapp.com/attachments/1130776962495950940/1131654995931037838/growth_10364222.png')] absolute -left-[60px] bottom-0 w-[1200px] h-[1050px] bg-cover"
  ></div>

  <div class="flex flex-col max-w-[1000px] mx-auto">
    <div class="flex flex-col leading-[100px]">
      <p
        data-aos="fade-down"
        data-aos-delay="100"
        data-aos-duration="300"
        class="z-2 relative tracking-[.40em] text-gray-800 text-[35px]"
      >
        Bonjour, je suis
      </p>
      <p
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-duration="500"
        class="z-2 relative font-bold text-blue-600 tracking-[.07em] text-[120px]"
      >
        JONAS
      </p>
      <div class="max-w-full min-w-[1000px] min-h-[200px]">
        <div class="typing-animation-container pt-12">
          <p
            data-aos="fade-up-right"
            data-aos-delay="600"
            data-aos-duration="800"
            class="typing-animation z-2 relative tracking-[.40em] text-black text-[30px]"
          >
            Développeur full stack
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Sélectionnez l'élément .typing-animation
    const typingAnimation = document.querySelector(".typing-animation");

    // Définir le texte complet à afficher
    const fullText = "Développeur full stack";

    // Fonction pour démarrer l'animation de saisie
    function startTypingAnimation() {
      typingAnimation.textContent = ""; // Réinitialiser le contenu
      let i = 0;

      // Fonction pour afficher les caractères un par un
      function typeNextCharacter() {
        if (i < fullText.length) {
          typingAnimation.textContent += fullText.charAt(i);
          i++;
          setTimeout(typeNextCharacter, 100); // Délai entre chaque caractère (100 millisecondes ici)
        } else {
          // Ajouter une pause de 2 secondes après que le texte soit entièrement écrit
          setTimeout(resetTypingAnimation, 2000); // 2000 millisecondes = 2 secondes
        }
      }

      // Lancer la saisie de caractères
      typeNextCharacter();
    }

    // Fonction pour réinitialiser l'animation
    function resetTypingAnimation() {
      // Supprimer les caractères un par un pour obtenir l'effet de retour de l'animation
      let i = fullText.length;
      function deleteNextCharacter() {
        if (i >= 0) {
          typingAnimation.textContent = fullText.substring(0, i);
          i--;
          setTimeout(deleteNextCharacter, 100); // Délai entre chaque caractère (100 millisecondes ici)
        } else {
          // Une fois que le texte est entièrement effacé, relancer l'animation de saisie
          setTimeout(startTypingAnimation, 1000); // Délai de 1 seconde avant de redémarrer l'animation
        }
      }

      // Démarrer la suppression de caractères
      deleteNextCharacter();
    }

    // Démarrer l'animation de saisie au chargement de la page
    startTypingAnimation();
  });
</script>

<style>
  /* Met le css correspondant au hero ici */
</style>
