    <!-- Section de présentation -->
    <section id="home" class="z-2 py-40 px-8 h-[975px] mx-auto flex pt-[300px]">
        <div class="flex flex-col w-1/2 pl-4">
            <div class="flex flex-col  leading-[100px] mt-8  ml-[200px]">
                <p class="z-2 relative tracking-[.40em] text-gray-800 text-[30px]">Bonjour, je suis</p>
                <p class="z-2 relative text-[180px] font-bold text-blue-600 tracking-[.07em]">JONAS</p>
                <div class="typing-animation-container pt-12">
                    <p class="typing-animation z-2 relative tracking-[.40em] text-black text-[45px]">Développeur full
                        stack</p>
                </div>
            </div>
        </div>

        <div class="relative animate-float z-50 flex w-1/2 item-center justify-center">
            <div class=" absolute -top-[150px] w-[500px] h-[650px] overflow-hidden rounded-[95px] border-4 border-blue-500 shadow-blue-neon">
                <img class="" src="{{ url_for('static', filename='img/_DSC5677.JPG') }}" alt="photo.jpg">
            </div>
            <div class="text-[30px] text-gray-200 font-semibold relative z-0 absolute -top-[110px] left-0">
                <div class="py-3 px-4 bg-gray-600/50 rounded-[25px] drop-shadow-[0_0px_10px_rgba(255,255,255,0.40)]"
                     id="color-change-text">Bienvenue sur mon portfolio
                </div>
            </div>
        </div>


    </section>