<section id="projets" class="py-[100px] px-20 mb-6">
        <div class="container mx-auto">
            <h2 class="text-[50px] font-bold mb-[100px] flex item-center justify-center">Mes projets :</h2>
            <!-- Remplacez les exemples de projets par vos propres projets -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-28">


                <div class="bg-gradient-to-bl from-red-300 to-purple-300 p-6 rounded-[20px] space-y-4">
                    <div class="bg-blue-200 rounded-[20px] py-8 px-6 drop-shadow-[0_35px_35px_rgba(0,0,0,0.15)]">
                        <p class="text-xl font-bold mb-2">Creation site web - OPKOD</p>
                        <p class="text-justify">
                            <a class="text-[18px]">Projet Web d'Entreprise :</a> <br>
                            J'ai développé un site web pour mon entreprise en utilisant HTML,
                            Tailwind CSS et JavaScript. Plateforme moderne et intuitive,
                            le site reflète l'image professionnelle de l'entreprise avec
                            une expérience utilisateur fluide. En tant que développeur
                            full stack, j'ai intégré des fonctionnalités dynamiques pour
                            améliorer les performances globales du site. Fier de contribuer
                            à l'identité en ligne de l'entreprise grâce à ce projet.

                        </p>
                    </div>
                    <div class="relative overflow-hidden pb-9/16 rounded-[23px] bg-blue-200 p-1 hover:bg-yellow-300 duration-500 "
                         id="video-container" onmouseover="playVideoOpkod()" onmouseout="pauseVideoOpkod()">
                        <!-- Remplacez 'votre_url_video.mp4' par l'URL réelle de votre vidéo -->
                        <video class="rounded-[20px] h-full w-full object-cover" id="video-opkod">
                            <source src="{{ url_for('static', filename='video/Opkod-site-projet.mp4') }}" type="video/mp4">
                        </video>
                    </div>

                    <div class="bg-white shadow-inner  rounded-[20px]">
                        <div class="flex justify-center item-center justify-around mx-auto w-5/6 py-3">
                            <div class="h-[70px] w-[70px]">
                                <svg viewBox="0 -51 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"
                                     fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <defs>
                                            <linearGradient x1="-2.77777778%" y1="32%" x2="100%" y2="67.5555556%"
                                                            id="linearGradient-1">
                                                <stop stop-color="#2298BD" offset="0%"></stop>
                                                <stop stop-color="#0ED7B5" offset="100%"></stop>
                                            </linearGradient>
                                        </defs>
                                        <g>
                                            <path d="M128,-1.0658141e-14 C93.8666667,-1.0658141e-14 72.5333333,17.0666667 64,51.2 C76.8,34.1333333 91.7333333,27.7333333 108.8,32 C118.537481,34.4343704 125.497363,41.4985481 133.201067,49.3184 C145.750756,62.0567704 160.275437,76.8 192,76.8 C226.133333,76.8 247.466667,59.7333333 256,25.6 C243.2,42.6666667 228.266667,49.0666667 211.2,44.8 C201.462519,42.3656296 194.502637,35.3014519 186.798933,27.4816 C174.249244,14.7432296 159.724563,-1.0658141e-14 128,-1.0658141e-14 Z M64,76.8 C29.8666667,76.8 8.53333333,93.8666667 0,128 C12.8,110.933333 27.7333333,104.533333 44.8,108.8 C54.5374815,111.23437 61.497363,118.298548 69.2010667,126.1184 C81.7507556,138.85677 96.275437,153.6 128,153.6 C162.133333,153.6 183.466667,136.533333 192,102.4 C179.2,119.466667 164.266667,125.866667 147.2,121.6 C137.462519,119.16563 130.502637,112.101452 122.798933,104.2816 C110.249244,91.5432296 95.724563,76.8 64,76.8 Z"
                                                  fill="url(#linearGradient-1)"></path>
                                        </g>
                                    </g>
                                </svg>

                            </div>
                            <div class="h-[70px] w-[70px]">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-label="JavaScript" role="img"
                                     viewBox="0 0 512 512" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <rect width="512" height="512" rx="15%" fill="#f7df1e"></rect>
                                        <path d="M324 370c10 17 24 29 47 29c20 0 33-10 33 -24c0-16 -13 -22 -35 -32l-12-5c-35-15 -58 -33 -58 -72c0-36 27 -64 70 -64c31 0 53 11 68 39l-37 24c-8-15 -17 -21 -31 -21c-14 0-23 9 -23 21c0 14 9 20 30 29l12 5c41 18 64 35 64 76c0 43-34 67 -80 67c-45 0-74 -21 -88 -49zm-170 4c8 13 14 25 31 25c16 0 26-6 26 -30V203h48v164c0 50-29 72 -72 72c-39 0-61 -20 -72 -44z"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="h-[70px] w-[70px]">
                                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#E44D26"></path>
                                        <path d="M26 5H16V29.5L24 27L26 5Z" fill="#F16529"></path>
                                        <path d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z"
                                              fill="white"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="h-[70px] w-[70px]">
                                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M2.58536 17.4132C1.80488 16.6327 1.80488 15.3673 2.58536 14.5868L14.5868 2.58536C15.3673 1.80488 16.6327 1.80488 17.4132 2.58536L29.4146 14.5868C30.1951 15.3673 30.1951 16.6327 29.4146 17.4132L17.4132 29.4146C16.6327 30.1951 15.3673 30.1951 14.5868 29.4146L2.58536 17.4132Z"
                                              fill="#EE513B"></path>
                                        <path d="M12.1489 5.06152L10.9336 6.27686L14.0725 9.41577C13.9455 9.68819 13.8746 9.99201 13.8746 10.3124C13.8746 11.222 14.4461 11.9981 15.2496 12.3012V19.9798C14.4461 20.2829 13.8746 21.059 13.8746 21.9686C13.8746 23.1422 14.826 24.0936 15.9996 24.0936C17.1732 24.0936 18.1246 23.1422 18.1246 21.9686C18.1246 21.144 17.6549 20.429 16.9684 20.0768V12.3117L19.9689 15.3122C19.8481 15.5791 19.7809 15.8754 19.7809 16.1874C19.7809 17.361 20.7323 18.3124 21.9059 18.3124C23.0795 18.3124 24.0309 17.361 24.0309 16.1874C24.0309 15.0138 23.0795 14.0624 21.9059 14.0624C21.6778 14.0624 21.4582 14.0983 21.2522 14.1648L18.0297 10.9423C18.0914 10.7433 18.1246 10.5317 18.1246 10.3124C18.1246 9.13878 17.1732 8.18738 15.9996 8.18738C15.7803 8.18738 15.5688 8.22061 15.3697 8.2823L12.1489 5.06152Z"
                                              fill="white"></path>
                                    </g>
                                </svg>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="bg-gradient-to-br from-red-300 to-purple-300 p-6 rounded-[20px] space-y-4">
                    <div class="bg-blue-200 rounded-[20px] py-8 px-6 drop-shadow-[0_35px_35px_rgba(0,0,0,0.15)]">
                        <p class="text-xl font-bold mb-2">Creation site web - Troc ta plante</p>
                        <p class="text-justify">
                            <a class="text-[18px]">Projet Web d'Entreprise :</a> <br>
                            J'ai développé un site web pour mon entreprise en utilisant HTML,
                            Tailwind CSS et JavaScript. Plateforme moderne et intuitive,
                            le site reflète l'image professionnelle de l'entreprise avec
                            une expérience utilisateur fluide. En tant que développeur
                            full stack, j'ai intégré des fonctionnalités dynamiques pour
                            améliorer les performances globales du site. Fier de contribuer
                            à l'identité en ligne de l'entreprise grâce à ce projet.

                        </p>
                    </div>
                    <div class="relative overflow-hidden pb-9/16 rounded-[23px] bg-blue-200 p-1 hover:bg-yellow-300 duration-500 "
                         id="video-container" onmouseover="playVideoTroc()" onmouseout="pauseVideoTroc()">
                        <!-- Remplacez 'votre_url_video.mp4' par l'URL réelle de votre vidéo -->
                        <video class="rounded-[20px] h-full w-full object-cover" id="video-Troc">
                            <source src="{{ url_for('static', filename='video/Troc-site-projet.mp4') }}" type="video/mp4">
                        </video>
                    </div>

                    <div class="bg-white shadow-inner  rounded-[20px]">
                        <div class="flex justify-center item-center justify-around mx-auto w-5/6 py-3">
                            <div class="h-[70px] w-[70px]">
                                <svg viewBox="0 -51 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"
                                     fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <defs>
                                            <linearGradient x1="-2.77777778%" y1="32%" x2="100%" y2="67.5555556%"
                                                            id="linearGradient-1">
                                                <stop stop-color="#2298BD" offset="0%"></stop>
                                                <stop stop-color="#0ED7B5" offset="100%"></stop>
                                            </linearGradient>
                                        </defs>
                                        <g>
                                            <path d="M128,-1.0658141e-14 C93.8666667,-1.0658141e-14 72.5333333,17.0666667 64,51.2 C76.8,34.1333333 91.7333333,27.7333333 108.8,32 C118.537481,34.4343704 125.497363,41.4985481 133.201067,49.3184 C145.750756,62.0567704 160.275437,76.8 192,76.8 C226.133333,76.8 247.466667,59.7333333 256,25.6 C243.2,42.6666667 228.266667,49.0666667 211.2,44.8 C201.462519,42.3656296 194.502637,35.3014519 186.798933,27.4816 C174.249244,14.7432296 159.724563,-1.0658141e-14 128,-1.0658141e-14 Z M64,76.8 C29.8666667,76.8 8.53333333,93.8666667 0,128 C12.8,110.933333 27.7333333,104.533333 44.8,108.8 C54.5374815,111.23437 61.497363,118.298548 69.2010667,126.1184 C81.7507556,138.85677 96.275437,153.6 128,153.6 C162.133333,153.6 183.466667,136.533333 192,102.4 C179.2,119.466667 164.266667,125.866667 147.2,121.6 C137.462519,119.16563 130.502637,112.101452 122.798933,104.2816 C110.249244,91.5432296 95.724563,76.8 64,76.8 Z"
                                                  fill="url(#linearGradient-1)"></path>
                                        </g>
                                    </g>
                                </svg>

                            </div>

                            <div class="h-[70px] w-[70px]">
                                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#E44D26"></path>
                                        <path d="M26 5H16V29.5L24 27L26 5Z" fill="#F16529"></path>
                                        <path d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z"
                                              fill="white"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="h-[70px] w-[70px]">
                                <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M2.58536 17.4132C1.80488 16.6327 1.80488 15.3673 2.58536 14.5868L14.5868 2.58536C15.3673 1.80488 16.6327 1.80488 17.4132 2.58536L29.4146 14.5868C30.1951 15.3673 30.1951 16.6327 29.4146 17.4132L17.4132 29.4146C16.6327 30.1951 15.3673 30.1951 14.5868 29.4146L2.58536 17.4132Z"
                                              fill="#EE513B"></path>
                                        <path d="M12.1489 5.06152L10.9336 6.27686L14.0725 9.41577C13.9455 9.68819 13.8746 9.99201 13.8746 10.3124C13.8746 11.222 14.4461 11.9981 15.2496 12.3012V19.9798C14.4461 20.2829 13.8746 21.059 13.8746 21.9686C13.8746 23.1422 14.826 24.0936 15.9996 24.0936C17.1732 24.0936 18.1246 23.1422 18.1246 21.9686C18.1246 21.144 17.6549 20.429 16.9684 20.0768V12.3117L19.9689 15.3122C19.8481 15.5791 19.7809 15.8754 19.7809 16.1874C19.7809 17.361 20.7323 18.3124 21.9059 18.3124C23.0795 18.3124 24.0309 17.361 24.0309 16.1874C24.0309 15.0138 23.0795 14.0624 21.9059 14.0624C21.6778 14.0624 21.4582 14.0983 21.2522 14.1648L18.0297 10.9423C18.0914 10.7433 18.1246 10.5317 18.1246 10.3124C18.1246 9.13878 17.1732 8.18738 15.9996 8.18738C15.7803 8.18738 15.5688 8.22061 15.3697 8.2823L12.1489 5.06152Z"
                                              fill="white"></path>
                                    </g>
                                </svg>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>