<section id="apropos" class="bg-gradient-to-r from-purple-300 to-blue-300">
    <div id="particles-js" class="absolute w-full h-[965px]"></div>

    <div class="py-[300px] bg-gradient-to-r from-purple-300 to-blue-300 px-20 flex">


  <div class=" mx-auto w-1/2">
    <div data-aos="zoom-out-right" data-aos-delay="200" data-aos-duration="400" class="drop-shadow-[0_5px_15px_rgba(0,0,0,0.20)] bg-white flex flex-col max-w-[750px] px-20 py-12 mx-auto rounded-[40px]">
      <h2 class="text-[50px] font-bold mb-4">À propos de moi</h2>
      <div class="">
          <p class="text-gray-700 text-justify max-w-[700px] text-[20px]">
          Je suis Jonas Garnero, un développeur Full Stack en BTS SIO. Passionné par la technologie, je crée des applications web fonctionnelles et attrayantes. Toujours avide de défis techniques, je suis constamment à l'affût des dernières tendances en développement. Prêt à collaborer dans un environnement dynamique, je suis ouvert aux opportunités passionnantes.
          </p>
        </div>
      </div>
     </div>

     <div class=" mx-auto w-1/2">
      <div class="drop-shadow-[0_5px_15px_rgba(0,0,0,0.20)] bg-white flex flex-col max-w-[600px] px-20 py-12 mx-auto rounded-[40px]">
        <h2 class="text-3xl font-bold mb-4">À propos de moi</h2>
        <div class="">
            <p class="text-gray-700 text-justify max-w-[500px]">
            Je suis Jonas Garnero, un développeur Full Stack en BTS SIO. Passionné par la technologie, je crée des applications web fonctionnelles et attrayantes. Toujours avide de défis techniques, je suis constamment à l'affût des dernières tendances en développement. Prêt à collaborer dans un environnement dynamique, je suis ouvert aux opportunités passionnantes.
            </p>
          </div>
        </div>
    </div>


  </div>

</section>