html {
  scroll-behavior: smooth;
}






.typing-animation-container {
  width: fit-content;
}

.typing-animation {
  position: relative;
  overflow: hidden;
  border-right: .15em solid #333;
  white-space: nowrap;
  font-size: 28px;
}

@keyframes typing {
  0%, 100% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

.typing-animation.play-animation {
  animation: typing 4s steps(40, end) forwards, blink-caret .75s step-end infinite 4s;
}








/* Créer l'effet de brillance néon bleu */
.shadow-blue-neon {
box-shadow: 0 0 20px #00BFFF;
}








/* Animation de changement de couleur */
@keyframes color-change {
0% { color: white; }
25% { color: #b2a9ff; } /* Couleur à 25% de l'animation */
50% { color: #ced1ff; } /* Couleur à 50% de l'animation */
75% { color: #6771ff; } /* Couleur à 75% de l'animation */
100% { color: white; }
}

/* Appliquer l'animation de changement de couleur */
#color-change-text {
animation: color-change 8s infinite;
}






/* Animation de flottement */
@keyframes float {
0% { transform: translateY(0); }
20% { transform: translateY(-8px); } /* La div monte légèrement */
40% { transform: translateY(4px); }
60% { transform: translateY(-6px); } /* La div monte légèrement */
80% { transform: translateY(6px); }
100% { transform: translateY(0); } /* La div redescend */
}

/* Appliquer l'animation de flottement */
.animate-float {
animation: float 15s ease-in-out infinite;
}

/* Appliquer l'animation de flottement */
.animate-bounce {
animation: bounce 4s ease-in-out infinite;
}






#scrollToTopBtn {
transition: opacity 0.3s;
}

#scrollToTopBtn.show {
opacity: 1;
}


.z-9999 {
z-index: 9999;
}
