html {
  scroll-behavior: smooth;
}






.typing-animation-container {
  width: fit-content;
}

.typing-animation {
  position: relative;
  overflow: hidden;
  border-right: .15em solid #333;
  white-space: nowrap;
  font-size: 28px;
}

@keyframes typing {
  0%, 100% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

.typing-animation.play-animation {
  animation: typing 4s steps(40, end) forwards, blink-caret .75s step-end infinite 4s;
}








/* Créer l'effet de brillance néon bleu */
.shadow-blue-neon {
box-shadow: 0 0 20px #00BFFF;
}







#scrollToTopBtn {
transition: opacity 0.3s;
}

#scrollToTopBtn.show {
opacity: 1;
}


.z-99999 {
z-index: 99999;
}
